
<div class="jumbotron frontPage">
  <div>
    <ul class="nav nav-pills">
      <li class="active"><a ng-href="#">Home</a></li>
      <li><a ng-href="#login">User Info</a></li>
      <li><a ng-href="#support">Support</a></li>
    </ul>
  </div>
  <h1>Hail the King</h1>
  <p class="lead">
    <img class="logo" src="images/hailTheKingIcon.png" alt="I'm Yeoman"><br>
    Welcome to the online kingdom building game.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#login">Get Started</a></p>
  <div class="footer">
    <p>by Joseph Jung</p>
  </div>
</div>  


